<div class="container">
  <div class="page-header">
    <div class="row">
      <div class="col-sm-6">
        <h2>Edit {{type}}</h2>
      </div>
      <div class="col-sm-6 section-btn">
        <button (click)="deleteFunc()" class="btn btn-danger btn-sm ">{{this.deleteBtnText}}</button>
      </div>
    </div>
  </div>
  <form>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" [(ngModel)] = "name" name="name" id="name" required disabled/>
    </div>
    <h3>Content</h3>
    <app-tiny-editor *ngIf="currentBodyAvailable" [setBody]="currentBody" (onEditorContentChange) = "tinyResponce($event)"></app-tiny-editor>
    <button (click)="editContent()" class="btn btn-sm btn-primary submit-btn" type="submit">Edit</button>
  </form>
</div>
