<div class="container">
  <div class="page-header">
    <h2>Add Study File</h2>
  </div>
  <form ngNoForm action="http://{{serverAddress}}/studyFiles/addStudyFile" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <label for="name">Name of the file</label>
      <input type="text" class="form-control" name="name" id="name" required/>
    </div>
    <input type="text" type="hidden" class="form-control" [(ngModel)]="topic" name="topic" id="topic" required/>
    <input type="text" type="hidden" class="form-control" [(ngModel)]="subtopic" name="subtopic" id="subtopic" required/>
    <div class="form-group">
      <label for="ebook">Upload Ebook </label>
      <input type="file" class="form-control" name="file" id="file" required/>
    </div>
    <button type="submit" class="btn btn-primary btn-sm">Submit</button>
  </form>
</div>
