<div class="container">
  <div class="page-header">
    <div class="row">
      <div class="col-xs-6">
        <h2>Edit Blog</h2>
      </div>
      <div clas="col-xs-6" style="text-align: right;">
        <button (click)="deleteBlog()" class="btn btn-sm btn-danger delete-btn">{{deleteBtnText}}</button>
      </div>
    </div>
  </div>
  <form>
    <div class="form-group">
      <label for="heading">Heading</label>
      <input type="text" class="form-control" [(ngModel)] = "heading" name="heading" id="heading" required/>
    </div>
    <div class="form-group">
      <label for="tags">Tags</label>
      <input type=text class="form-control" [(ngModel)] = "tag" name = "tag"/>
      <button class="btn btn-primary btn-sm" (click) = 'addTag()'>Add Tag</button>
    </div>
    <div class="added-tags" *ngIf="tags.length > 0">
      <h5>Added Tags (click to remove Tag)</h5>
      <button class="tag-button btn btn-sm btn-info" *ngFor="let tag of tags" (click)="removeTag(tag)">{{tag}}</button>
    </div>
    <h3>Blog</h3>
    <app-tiny-editor *ngIf="initialContentAvailable" (onEditorContentChange) = "tinyResponce($event)" [setBody]="initialContent"></app-tiny-editor>
    <button (click)="submitBlog()" class="btn btn-sm btn-primary submit-btn" type="submit">Submit</button>
  </form>
</div>
