
.mainBody {
  border-left: 2px solid #d34615;
  padding: 20px 10px;
  min-height: 100vh;
}

.main-description {
  font-size: 120%;
}

.addBtn {
  text-align: right;

}

.row {
  margin: 0px;
}

.navBarHeading {
  text-align: center;
}

.topicList {
    border: none;
    margin: 5px 5px;
    padding: 5px;
    text-align: center;
}

.topicList:hover {
  color: #d34615;
}

.active {
  background-color: transparent;
  color: #d34615;
}
.active:hover {
  background-color: rgba(142, 142, 142, 0.14);
}

.mainBodyHeading {
  text-align: center;
  margin: 0px;
}

.editBtn {
  text-align: right;
}

.page-header {
  margin: 20px 0px 20px 0px;
}

.contentBody {
  padding: 20px 10px;
  font-size: 110%;
}

img {
  max-width: 100%;
  height: auto;
}

.coverImgDiv {
  text-align: center;
}

.coverImg {
  text-align: right;
  height: 30vh;
  width: auto;
}

.coverImg:hover {
  box-shadow: 0px 0px 10px #d34615;
}

.ebookBody {
  text-align: center;
}

.ebook {
  margin: 50px 0px 0px 0px;
}

.playlist {
  padding: 5px;
  margin: 10px;
  border-bottom: 1px solid rgba(125, 125, 125, 0.27);
}

.playlist p {
  font-size: 110%;
  margin: 10px;
}

.file {
  text-decoration: none;
  color: #000;
  padding: 10px 20px;
  font-size: 120%;
  border-bottom: 1px solid rgba(142, 142, 142, 0.14);
  cursor: pointer;
  transition: all .3s;
  border-radius: 5px;
}

.file:hover {
  color: #d34615;
  background-color: rgba(142, 142, 142, 0.14);
}
