<div class="container">
  <div class="page-header">
    <h2>New Question</h2>
  </div>
  <form>
    <div class="form-group">
      <label for="tags">Tags</label>
      <input type=text class="form-control" [(ngModel)] = "tag" name = "tag"/>
      <button class="btn btn-primary btn-sm" (click) = 'addTag()'>Add Tag</button>
    </div>
    <div class="added-tags" *ngIf="tags.length > 0">
      <h5>Added Tags (click to remove Tag)</h5>
      <button class="tag-button btn btn-sm btn-info" *ngFor="let tag of tags" (click)="removeTag(tag)">{{tag}}</button>
    </div>
    <h4>Your Question</h4>
    <app-tiny-editor (onEditorContentChange) = "tinyResponce($event)"></app-tiny-editor>
    <button (click)="submitQuestion()" class="btn btn-sm btn-primary submit-btn" type="submit">Submit</button>
  </form>
</div>
